@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --red: #ff3838;
}

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-shadow: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection {
    background: var(--red);
    color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;

}

body {
    background: #f7f7f7;
}

section {
    padding: 2rem 0rem;
}

.heading {
    text-align: center;
    font-size: 4rem;
    padding: 1rem;
    color: #666;
    font-family: 'Times New Roman', Times, serif;
}

.heading span {
    color: var(--red);
}

.btn {
    padding: .3rem 1.7rem;
    cursor: pointer;
    font-size: 1.9rem;
    border-radius: .5rem;

}

.btn:hover {
    border-color: #ff3838;
    border: .1rem solid rgb(255, 0, 0);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(255, 255, 255);
    padding: 1rem 7%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);

}

header .logo {
    font-size: 1.6rem;
    font-weight: bold;
    color: #666;
    letter-spacing: .2rem;
}

header .logo i {
    padding-right: 1rem;
    color: var(--red);
    font-size: 2.5rem;
}
header .logo span{
    color: black;
    font-size: 3rem;

}

header.navbar a {
    font-size: 10%;
    margin-left: .5rem;
    color: #666;

}

a {
    color: black;
    font-weight: bold;
}

header .navbar a:hover {
    color: var(--red);
}

.navbar {
    font-size: 1.9rem;
    padding-left: 1rem;
    justify-content: space-between;
    word-spacing: 2rem;
}

#menu-bar {
    font-size: 3rem;
    cursor: pointer;
    color: #333;
    border: .2rem solid #666;
    border-radius: 1rem;
    padding: .5rem 1.5rem;
    display: none;
}

.home {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    min-height: 100vh;
    align-items: center;
    background: url(image1/foodbackground.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .content {
    flex: 1 1 40rem;

}

.home .content h2 {
    font-size: 9rem;
    color: rgb(255, 255, 255);
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1.5rem;
    padding-left: 4rem;
}

.home .content h3 {
    font-size: 6rem;
    color: rgb(255, 255, 255);
    padding: 1rem;
    padding-left: 4rem;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 1.5rem;
    text-shadow: 2px 2px rgb(255, 136, 0);

}
/* speciality area start  */
.speciality .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-left: 10rem;
    margin-right: 10rem;
    
}

.speciality .box-container .box {
    flex: 1 1 40rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border: .1rem solid rgba(0, 0, 0, .3);
    cursor: pointer;
    border-radius: .5rem;
    
}

.speciality .box-container .box .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: -100%;
    left: 0;
}

.speciality .box-container .box .content {
    text-align: center;
    background: #fff;
    padding: 2rem;
    padding: 1rem;
}

.speciality .box-container .box .content img {
    margin: 1.5rem 0;
}

.speciality .box-container .box .content h3 {
    font-size: 2.5rem;
    color: #333;
}

.speciality .box-container .box .content p {
    font-size: 1.6rem;
    color: #666;
    padding: 1rem 0;
}

.speciality .box-container .box:hover .image {
    top: 0;
}

.speciality .box-container .box:hover .content {
    transform: translateY(100%);
}

/* speciality area start end */




/* popular dishes area  */

.dishes .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap:1rem;
    margin-left: 6.5%;
    margin-right: 6.5%;
    height: 35rem;
}

.dishes .box-container .box{
    padding:.5rem;
    background:#fff;
    border-radius: .5rem;
    border:.1rem solid rgba(0,0,0,.2);
    box-shadow: var(--box-shadow);
    position: relative;
    overflow: hidden;
    text-align: center;
}


.dishes .box-container .box img{
    height:15rem;
    margin:1rem 0;
}

.dishes .box-container .box h3{
    color:red;
    font-size: 1.8rem;
}

.dishes .box-container .box .stars{
    padding:2rem 0;
}

.dishes .box-container .box .stars i{
    font-size: 1.7rem;
    color:var(--red);
}

.dishes .box-container .box span{
    color:var(--green);
    font-weight: bolder;
    margin-right: 1rem;
    font-size: 2rem;
}
.dishes .box-container .box .btn{
    border:1px solid yellow;
    background-color: yellow;
    color: rgb(0, 0, 0);
}

/* popular dishes area end */



/* Gallery section start  */
.Gallery .box-container{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    margin-left: 6%;
    margin-right: 6%;
  }
  
  .Gallery .box-container .box{
    overflow: hidden;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
    border:2px solid #fff;
    border-radius: .1rem;
    flex:1 1 40rem;
    height: 20rem;
    position: relative;
  }
  
  .Gallery .box-container .box img{
    height: 100%;
    width:100%;
    object-fit: cover;
  }
  

/* Gallery Section end  */

/* menu Section Start  */

#foodImage {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.foodimage {
    width: 42%;
    padding: 3rem;
    height: 10%;
}

/* Menu Section end  */

/* footer section start  */

.footer{
    background:rgb(0, 0, 0);
    text-align: center;
    padding: 3rem;
  }
  
  .footer .share{
    display: flex;
    gap:1.5rem;
    justify-content: center;
    flex-wrap: wrap;
  }
  .footer .share a{
    color: white;
  }
  .footer .share a:hover{
    color: #ff3838;
  }
  
  .footer .credit{
    padding:3rem 1rem;
    color:#fff;
    font-weight: normal;
    font-size: 2rem;
  }
  
  .footer .credit span{
    color:var(--red);
  }
 
  .footer .mainpage a{
    color: #f7f7f7;
  }
  .footer .mainpage a:hover{
    color: #ff3838;
  }
  
/* footer section end */





























































@media(max-width:991px) {
    html {
        font-size: 55%;
    }

    header {
        padding: 2rem;
    }

    section {
        padding: 2rem;
    }
}

@media(max-width:768px) {

    #menu-bar {

        display: initial;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #f7f7f7;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    header .navbar a {

        margin: 1.5rem;
        padding: 1.5rem;
        display: block;
        border: .1rem solid rgba(0, 0, 0, .1);
        border-left: .8rem solid var(--red);
    }

}

@media(max-width:400px) {
    html {
        font-size: 50%;
    }

    .home .content h2 {
        font-size: 0;
    }

    .home .content h3 {
        font-size: 0;
    }

}